#{extends 'main.html' /}
#{set title:'Core Services' /}

<div class="page-header">
    <h1>Core Services <small>Management services provided by the kernel</small></h1>
</div>

#{if services}
	<table class="zebra-striped">
        <thead>
          <tr>
            <th>Service Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        #{list services, as : 'service'}
          <tr>
            <td>${service}</td>
            <td><a href="${service}?wsdl" target="_blank" class="btn info">WSDL</a>&nbsp;<a href="#" class="btn info">Invoke</a></td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}