#{extends 'main.html' /}
#{set title:'Endpoints' /}

<div class="page-header">
    <h1>Endpoint <small>List of all internal endpoints</small></h1>
</div>

#{if endpoints}
	<table class="zebra-striped">
        <thead>
          <tr>
            <th>Endpoint Name</th>
            <th>Service Name</th>
            <th>Interface Name</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        #{list endpoints, as : 'endpoint'}
          <tr>
            <td><b>${endpoint.name}</b></td>
            <td>NS : ${endpoint.service.namespaceURI}<br>LocalPart : ${endpoint.service.localPart}</td>
            <td>NS : ${endpoint.interfaces[0].namespaceURI}<br>LocalPart : ${endpoint.interfaces[0].localPart}</td>
            <td><a href="#" class="btn info">Details</a></td>
          </tr>
        #{/list}
        </tbody>
      </table>
#{/if}