#{extends 'main.html' /}
#{set title:'Java Business Integration : Component' /}

<div class="page-header">
    <h1>Component details</h1>
</div>

<table>
	<tbody>
		<tr><td><b>Name</b></td><td>${name}</td></tr>
		<tr><td><b>Description</b></td><td><code>${description}</code></td></tr>
	</tbody>
</table>

<h2>Linked SU</h2>
<table>
	<thead><th>SU Name</th><th>Actions</th></thead>
	<tbody>
	    #{list sus, as : 'su'}
		<tr><td>${su}</td><td><a href="@{Application.jbisu(saName, su)}" class="btn info">Details</a></td></tr>
		#{/list}
	</tbody>
</table>

