#{extends 'main.html' /}
#{set title:'Kernel : Router' /}

<div class="page-header">
    <h1>Router details</h1>
</div>

<div class="well">
Manage the service bus router by activating/unactivating its modules below.
</div>

<h2>Sender Modules</h2>
<table>
	<thead><th>Name</th><th>Description</th><th>State</th><th>Actions</th></thead>
	<tbody>
	    #{list senders, as : 'm'}
		<tr><td><b>${m.name}</b></td><td>-</td><td>${m.state}</td><td><a href="@{Application.updateSenderModule(m.name, !m.state)}" class="btn danger #{if !m.state}disabled#{/if}">Pause</a>&nbsp;<a href="@{Application.updateSenderModule(m.name, !m.state)}" class="btn success #{if m.state}disabled#{/if}">Resume</a></td></tr>
		#{/list}
	</tbody>
</table>

<h2>Receiver Modules</h2>
<table>
	<thead><th>Name</th><th>Description</th><th>State</th><th>Actions</th></thead>
	<tbody>
	    #{list receivers, as : 'm'}
		<tr><td><b>${m.name}</b></td><td>-</td><td>${m.state}</td><td><a href="@{Application.updateReceiverModule(m.name, !m.state)}" class="btn danger #{if !m.state}disabled#{/if}">Pause</a>&nbsp;<a href="@{Application.updateReceiverModule(m.name, !m.state)}" class="btn success #{if m.state}disabled#{/if}">Resume</a></td></tr>
		#{/list}
	</tbody>
</table>
